.profile-div
{
    background-image: url("./color.png");
    width: 70%;
    margin: 40px auto 0px auto;
    border-radius: 23px;
    justify-content: center;
   
}
.avatar
{
    margin-left: 30%;
    width: 100px;
    height: 100px;
    margin-bottom: 1%;
    margin-top: 1%;
   
}
.profile123
{
    display: inline;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: xx-large;
    color: rgba(0, 0, 0, 1);
    margin-left: 25px;
    
    
}
.react-tabs {
    display: flex;
    margin-left: 15%;
    margin-top: 20px;
    
  }
  
  .react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    font-weight: 550;
    font-size: larger;
    color: rgba(0, 0, 0, 1);
    background: #ffffff;
  }
  
  .react-tabs__tab {
    height: 55px;
    list-style: none;
    
    cursor: pointer;
    
    
  }
 
  
 
  .react-tabs__tab--selected
  {
    color: rgba(239, 101, 37, 1);
  }
  .react-tabs__tab-panel {
    display: none;
    margin-left: 50px;
    width: 50%;
    background-color: #ffffff;
    border-radius: 30px;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
    
  }
  
  .react-tabs__tab {
    padding-left: 24px;
    
  }
  
  .react-tabs__tab--selected {
    padding-left: 21px;
  }
  
  
  .details
  {
    background-color: #ffffff;
    
  }
  .det-prof
  {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: larger;
    color: rgba(0, 0, 0, 1);
    margin-left: 80px;
  }
  .my-det
  {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: x-large;
    margin-left: 80px;
    margin-top: 15px;
  }
  hr{
    width: 70%;
    margin-left: 80px;
    color: #1c1d1f;
    
  }
  .temp123
  {
    background-color: #ffffff;
    height: 100px;
    border-radius: 15px;
    margin-left: 50px;
    
  }
  .temp1234
  {
    background-color: #ffffff;
    width: 100%;
    border-radius: 20px;
    
  }
  .points
  {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: xx-large;
    margin-left: 25px;
  }
  .points1
  {
    margin-left: 25px;
    font-weight: 500;
    font-size: larger;
    color: rgba(0, 0, 0, 0.6);
  }