
.meri
{
    font-family: 'Merriweather';;
}
.mg
{
    margin-top: 6%;
}
.orange-box
{
  background-color: #ef6525;
  width: 430px;
  height: 350px;
  border-radius: 51% 28% 60% 10% / 53% 30% 56% 10% ;
}
.b
{
    font-weight: bold;
}
.lb
{
    font-weight: 500;
    font-family: 'Poppins';
    color: #666666;
    margin-left: 20%;
}
.side-reg
{
    font-family: 'Poppins';
    padding-top: 3%;
    font-weight: 400;
    display: inline;
    font-size: xx-large;
    color: rgba(255, 255, 255, 1);
    
}
.side-reg2
{
    font-family: 'Poppins';
    font-weight: 700;
    display: inline;
    font-size: xx-large;
    color: rgba(255, 255, 255, 1); 
     
}
input::placeholder
{
    font-family: 'Poppins';
    padding-left: 25px;
    
}
.form
{
    margin-top: 6%;
}
.but
{
    margin-top: 7%;
    width: 220px;
    height: 45px;
    background-color: #3db3ad;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Poppins';
}
.acc
{
    display: inline;
    padding-left: 100px;
    font-weight: bold;
    font-family: 'Poppins';   
}
.di
{
    margin-top: 5%;
    margin-bottom: 100px;
}
.form-group
{
    margin-top: 2%;
}
.sig
{
    padding-left: 20px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #3db3ad;
}
a
{
    text-decoration: none;
    color: black;
}

.form-control
{
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
}
.color-white-1
{
    background-color: #ffffff;
}
.bg-grd
{
    background-image: linear-gradient(#ef6525,#7c300c);
    padding-top: 8%;
    padding-left: 5%;
    padding-right: 5%;
   
}
.mar-side
{
    margin-left: 0;
}
.reg-name
{
    font-family: 'Inter';
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 20%;
}
.reg-desc
{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: larger;
    margin-left: 20%;
}
.mar-left3
{
    margin-left: 20%;
}
.disp-in
{
    display: inline;
}
.temp1-img
{
    width: 400px;
    height: 400px;
}